.white.youtube-nav.navbar-fixed {
	background-color: #444444!important;
}
.li {
	background-color: #444444!important;
}
.side-nav.youtube-side.fixed {
	background-color: #444444!important;
}
a {
	color: white!important;
}
.z-depth-2.white.center {
	background-color: #444444!important;
}
.white.youtube-nav {
	background-color: #444444!important;
}
.grey-text.fa.fa-bell {
	color: white!important;
}
.grey-text.fa.fa-bars {
	color: white!important;
}
.background {
	filter: blur(1px);
}